:root {
  --color-raza: hsla(0, 0%, 80%, 1);
  --color-nombre: hsla(0, 0%, 100%, 1);
  --color-botones: hsla(222, 52%, 11%, 1);
  --color-footer: #85d1ce;
}
body {
  background-color: hsla(343, 96%, 89%, 1);
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}
#contenedor {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#button {
  width: 100%;
  background-color: var(--color-botones);
  color: white;
  padding: 15px;
  border-radius: 35px;
}

#logo {
  flex-direction: row;
  transform: scale(0.5);
  transition: 0.5s;
}

#logo:hover {
  transform: scale(2);
}

#contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 375px;
}

#tituloPrincipal {
  font-size: large;
}
.categoria {
  display: inline;
} /* 
.categoria{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: large;
    padding: 20px;
    width: 120px;
    background-color: black ;
    border-radius: 10px;
    color: white;
} */

#botones {
  display: flex;
  flex-direction: row;
  float: left;
  gap: 15px;
}
#textoCategorias p {
  border: 0;
  padding: 0;
  margin: 1px;
}

ul {
  height: 72px;
  display: flex;
  position: fixed;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  width: 100%;
  left: 0;
  justify-content: space-evenly;
  align-items: center;
  min-width: 255px;
  padding-inline-start: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;

  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
}
li a img:hover:not(.active) {
  filter: invert(79%) sepia(21%) saturate(529%) hue-rotate(129deg);
}

.active {
  background-color: var(--color-botones);
  border-radius: 80px;
}
.footerContainer {
  padding: 8px 14px;
}
.footerContainer p {
  color: var(--color-footer);
  font-size: 14px;
  margin-left: 10px;
}
footer {
  width: 500px;
}
.active img {
  filter: invert(79%) sepia(21%) saturate(529%) hue-rotate(129deg)
    brightness(94%) contrast(92%);
}



#boxTitulo h3 {
  align-items: flex-start;
  font-weight: 800;
  font-size: 24px;
}

.categoria {
  justify-content: space-evenly;
  background-color: #0d162b;
  border-radius: 10px;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 130px;
}
.categoria:active {
  opacity: 50%;
}

.categoria p {
  padding: 5px;
}

#imgContainer {
  background-color: hsla(178, 45%, 67%, 1);
  border-radius: 100%;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  #contenedorGatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  #contenedorPerros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  #contenedorIzquierda {
    display: flex;
    gap: 10px;
  }
  #contenedorDerecha {
    display: flex;
    gap: 10px;
    margin-top: 0px;
    
  }
  .categoria {
    min-width: 300px;
  }
  #contenedorFav {
    display: flex;
    margin-bottom: 50px;
  }
  #contenedorInicial {
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #buttonInicio {
    width: 90%;
    bottom: 35px;
    position: fixed;
  }
}
@media only screen and (max-width: 600px) {
  #contenedorGatos {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
  }

  #contenedorPerros {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
  }
  #contenedorDerecha {
    margin-top: 25px;
  }
  #contenedorFav {
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
  }
  #contenedorInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #buttonInicio {
    width: 90%;
  }
  .cardInicial {
    margin-top: 25px;
  }
  #contenedorIniciaL #text {
    margin-top: 0;
  }
}

#contenedorGatos {
  transition: 0.5s;
}
#contenedorPerros {
  transition: 0.5s;
}

.card {
  width: 156px;
  height: 250px;
  border-radius: 16px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0;
  cursor: pointer;
}
#textCard {
  padding: 10px;
}
.card div {
  width: 100%;
  font-size: 14px;
}
#nombre {
  font-weight: 700;
  color: var(--color-nombre);
}
#raza {
  font-weight: 400;
  color: var(--color-raza);
}

#contenedorDetalle {
  display: flex;
  justify-content: center;
}
#PrimeraMitad {
  display: flex;
  justify-content: center;
}
#imagenDetalle {
  height: 442px;
  width: 375px;
}
#segundaMitad {
  background-color: white;
  padding: 10px 20px;
  border-radius: 16px 16px 0px 0px;
  height: 100%;
}

#backArrow {
  margin: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 180px;
  padding: 5px;
  cursor: pointer;
}
#backArrow:hover {
  background-color: grey;
}
#bloqueOneDatos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bloqueOneDatos h3 {
  display: flex;
}
#bloqueOneDatos h3 img {
  margin-left: 10px;
}
#likeButton {
  margin-right: 10px;
  background: white;
  padding: 5px;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  cursor: pointer;
}

#likeButton img {
  padding: 10px 10px 5px 10px;
}
#bloqueTwoDatos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}
#bloqueTwoDatos p img {
  margin-right: 10px;
}
#bloqueDosOne {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#bloqueDosSecond {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 20px;
}
#bloqueDosThird p {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  width: 70%;
}

#bloqueContacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#botonContacto {
  width: 50%;
}
#botonContacto button {
  width: 100%;
  padding: 8px 20px;
  border-radius: 30px;
  color: white;
  background-color: var(--color-botones);
}
#publicacion {
  width: 50%;
}

#contenedorPrincipalProfile {
  display: flex;
  flex-direction: column;
}

#dataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dataContainer p {
  padding: 0px;
  margin-bottom: 0;
}
#dataContainer #sub {
  font-size: 14px;
  margin-top: 0%;
  margin-bottom: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#form input {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  height: 48px;
}

#form label {
  font-size: 15px;
  padding: 10px;
  margin-left: 20px;
}
#buttonContainer {
  padding-top: 20px;
}
#buttonContainer button {
  width: 100%;
  background-color: var(--color-botones);
  color: white;
  border-radius: 98px;
  padding: 16px;
}
#contenedorPersonalidad{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.personalidad{
  display: flex;
  border: 2px solid hsla(262, 58%, 70%, 1);
  border-radius: 8px;
  width: 92px;
  height: 92px;
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
